<div class="profile">
  <div class="profile__top">
    <div class="profile__ava" [ngStyle]="{'background-image': 'url('+user.image+')'}"></div>
    <div class="profile__name">
      {{user.name}}
    </div>
  </div>
  <div class="profile__bottom">
    <table class="table">
      <tbody>
        <tr>
          <td><b>Email</b></td>
          <td>test@tems1.</td>
        </tr>
        <tr>
          <td><b>Email</b></td>
          <td>test@tems1.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
